<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <title>Интернет-магазин RockShop</title>
  <style media="screen">
    .jumbotron {
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }
  </style>

</head>

<body style="background-color: #B3E5FC;">

  {% include "ecom/navbar.html" %}
  <br><br>
  <div class="jumbotron">
    <h1 class="display-4">Ваше сообщение отправлено!</h1>
    <p class="lead">Мы ответим на ваш отзыв в ближайшее время!</p>
    <hr class="my-4">
    <p>Ознакомьтесь с другими функциями веб-сайта!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">Главная страница</a>
    </p>
  </div>

  {% include "ecom/footer.html" %}
</body>
<!--
developed By : sumit kumar
-->

</html>
